* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
}

/* Header */
header {
  padding: 0 5% 0;
  position: sticky;
  top: 0px;
  z-index: 1000;
  height: 10vh;
  width: 100%;
  background-color: #212d1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .log {
  width: 18%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .log img {
  width: 100%;
}

header nav {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

header nav a {
  color: #ffff;
  transition: 0.3s ease-in-out;
}

header nav a:hover {
  color: #4fd12b;
}

header .connection {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* if note connecte */
header .connection button {
  border-radius: 8px;
  padding: 10px 30px;
  transition: 0.5s ease-in;
  background: transparent;
  border: solid 1px #4fd12b;
  width: 45%;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  color: #ffff;
}

header .connection button:hover {
  background-color: #4fd12b;
  color: #000000;
}

/* if connecte */

header .auth-buttons {
  border: 1px solid #54d12b;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
header .auth-buttons .login-btn {
  background: none;
  border: none;
  color: #ffff;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

header .auth-buttons .signup-btn {
  background-color: #54d12b;
  color: var(--dark-green);
  border: none;
  color: #000000;
  padding: 8px 15px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  font-weight: bold;
}
